@charset "UTF-8";

 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100vh;
}
body{
    background-color: #D3D3D3;
}
header{
    background-color: #949494;
}
header h1{
    text-align: center;
    padding: 10px;
}
span#icon{
    background-color: rgb(70, 69, 69);
    font-size: 1.5em;
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
span#icon:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #575757;
    color: white;
    border-top: 2px solid grey;
}
menu > ul > li > a:hover{
    background-color: rgb(148, 146, 146);
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}
article h2{
    text-align: center;
    padding: 6px;
    font-size: 1.5em;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

